{% extends "base_form.html" %}
{% block title %}Cadastro de Cliente{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/clients/add-client">
    <fieldset>
        <legend>Cadastrar novo cliente</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
        {{ form.cpf.label }} {{ form.cpf(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
        {{ form.name.label }} {{ form.name(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
        {{ form.surname.label }} {{ form.surname(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
        {{ form.birthday.label }} {{ form.birthday(required=True) }}
        </div>
        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Cadastrar">
        </div>
    </fieldset>
</form>
{% endblock %}
