{% extends "base_form.html" %}
{% block title %}Cadastro de Funcionário{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/employees/add-employee">
    <fieldset>
        <legend>Cadastrar novo funcionário</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
            {{ form.cpf.label }} {{ form.cpf(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.password.label }} {{ form.password(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.confirm_password.label }} {{ form.confirm_password(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.name.label }} {{ form.name(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.surname.label }} {{ form.surname(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.role.label }} {{ form.role(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.salary.label }} {{ form.salary(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.supervisor.label }} {{ form.supervisor(size=20, required=True) }}
        </div>
        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Cadastrar">
        </div>
    </fieldset>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="popup" class="overlay">
            <div class="popup">
                <h2>Erro de formulário</h2>
                <a class="close" href="#popup">&times;</a>
                <div class="content">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

{% endblock %}
