.form-box {
    margin: 3em auto;
    max-width: 600px;
}

.content-box {
    margin: 1.5em auto;
    max-width: 1000px;
}

.content-box h1 {
    font-size: 2.5em;
    margin: 0.2em auto;
}

.pure-g div {
    margin-bottom: 10px;
}

.warning {
    color: red;
}

/* Buttons */

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* Pop-up - modified from @imprakash */

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0078e7;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.overlay:target:before { /* Pop-up appears on page load */
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  background: #fff;
  border-radius: 5px;
  min-width: 310px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
}

/* Menu */

.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    /*white-space: nowrap;*/
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-children .pure-menu-link,
.custom-menu .pure-menu-children .pure-menu-heading {
    background-color: #A0A0A0;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: #C0C0C0;
    color: black;
}

.custom-menu:last-of-type {
    float: right;
}
