{% extends "base_form.html" %}
{% block title %}Cadastro de Jogo{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/games/add-game">
    <fieldset>
        <legend>Cadastrar novo jogo</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
            {{ form.name.label }} {{ form.name(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.producer.label }} {{ form.producer(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.release_year.label }} {{ form.release_year(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.language.label }} {{ form.language(size=20, required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.players.label }} {{ form.players(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.price_rent.label }} {{ form.price_rent(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.price_sell.label }} {{ form.price_sell(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.storage.label }} {{ form.storage(required=True) }}
        </div>
        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Cadastrar">
        </div>
    </fieldset>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="popup" class="overlay">
            <div class="popup">
                <h2>Erro de formulário</h2>
                <a class="close" href="#popup">&times;</a>
                <div class="content">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

{% endblock %}
