{% extends "base_form.html" %}
{% block title %}Cadastro de Aluguel{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/games/add-rental">
    <fieldset>
        <legend>Cadastrar novo aluguel</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
            {{ form.client_cpf.label }} {{ form.client_cpf(size=20) }}
        </div>

        {% for e in form.exemplars %}
        <div class="pure-control-group">
            {{ e.label }} {{ e(size=20) }}
        </div>
        {% endfor %}

        <div class="pure-controls">
            {{ form.add_exemplar(class="pure-button button-success") }}
            {{ form.remove_exemplar(class="pure-button button-error") }}
        </div>

        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Cadastrar">
        </div>
    </fieldset>
</form>
{% endblock %}
