{% extends "base_info.html" %}
{% block title %}Seleção de Exemplar{% endblock %}
{% block body %}
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Selecionar exemplar</legend>
        <center>
            <div class="pure-g">
                {% for item in exemplar_list %}
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="/games/view-exemplar?id={{ item[0] }}">{{ item[1] }}</a>
                    </div>
                {% endfor %}
            </div>
        </center>
    </fieldset>
</form>
{% endblock %}
