{% extends "base_info.html" %}
{% block title %}Seleção de Exemplar{% endblock %}
{% block body %}
<form class="pure-form" method="GET" action="/games/view-exemplar">
    <fieldset>
        <legend>Buscar exemplar</legend>
        <center>
            {{ form.id(size=20,placeholder=form.id.label.text) }}
            <input type="submit" class="pure-button pure-button-primary" value="Buscar">
        </center>
    </fieldset>
</form>
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Selecionar exemplar</legend>
        <center>
            <div class="pure-g">
                {% for item in exemplar_list %}
                    <div class="pure-u-1 pure-u-md-1-3">
                        <a href="/games/view-exemplar?id={{ item[0] }}">{{ item[1] }}</a>
                    </div>
                {% endfor %}
            </div>
        </center>
    </fieldset>
</form>
{% endblock %}
