{% extends "base_info.html" %}
{% block title %}Seleção de Compra{% endblock %}
{% block body %}
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Selecionar compra</legend>
        <center>
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>ID da compra</th>
                        <th>Horário</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in purchase_list %}
                    <tr{{ loop.cycle(' class=pure-table-odd', '') }}>
                        <td align="center" valign="middle">
                            <a href="/games/view-purchase?id={{ item[0] }}">{{ item[0] }}</a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="/games/view-purchase?id={{ item[0] }}">{{ item[1] }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </center>
    </fieldset>
</form>
{% endblock %}
