{% extends "base_form.html" %}
{% block title %}Cadastro de Sala{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/rooms/add-room">
    <fieldset>
        <legend>Cadastrar nova sala</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
        {{ form.number.label }} {{ form.number(size=20) }}
        </div>
        <div class="pure-control-group">
        {{ form.seats.label }} {{ form.seats(size=20) }}
        </div>
        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Cadastrar">
        </div>
    </fieldset>
</form>
{% endblock %}
