{% extends "base_info.html" %}
{% block title %}Seleção de Sala{% endblock %}
{% block body %}
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Selecionar sala</legend>
        <center>
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>Nº da Sala</th>
                        <th>Lugares</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in room_list %}
                    <tr>
                        <td align="center" valign="middle">
                            <a href="/rooms/view-room?number={{ item[0] }}">{{ item[0] }}</a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="/rooms/view-room?number={{ item[0] }}">{{ item[1] }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </center>
    </fieldset>
</form>
{% endblock %}
