{% extends "base_form.html" %}
{% block title %}{% if form.room.choices %}Cadastro de Reserva{% else %}Consulta de Sala{% endif %}{% endblock %}
{% block body %}
<form class="pure-form pure-form-aligned" method="POST" action="/rooms/reserve-room">
    <fieldset>
        <legend>{% if form.room.choices %}Cadastrar nova reserva{% else %}Consultar sala{% endif %}</legend>
        {{ form.csrf_token }}
        <div class="pure-control-group">
            {{ form.seats.label }} {{ form.seats(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.date.label }} {{ form.date(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.time.label }} {{ form.time(type='time', required=True) }}
        </div>
        {% if form.room.choices %}
        <div class="pure-control-group">
            {{ form.room.label }} {{ form.room(required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.end_time.label }} {{ form.end_time(type='time', required=True) }}
        </div>
        <div class="pure-control-group">
            {{ form.client_cpf.label }} {{ form.client_cpf(required=True) }}
        </div>
        {% endif %}
        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="{% if form.room.choices %}Cadastrar{% else %}Consultar{% endif %}">
        </div>
    </fieldset>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="popup" class="overlay">
            <div class="popup">
                <h2>Erro de formulário</h2>
                <a class="close" href="#popup">&times;</a>
                <div class="content">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

{% endblock %}
